@import "tailwindcss";

:root {
    --bg-main: 222 26% 31%;          
    --bg-secondary: 223 31% 20%;     
    --bg-screen: 224 36% 15%;         
    
    --key-primary-bg: 225 21% 49%;    
    --key-primary-shadow: 224 28% 35%; 
    
    --key-accent-primary:225 21% 49%;
    --key-accent-bg: 6 63% 50%;       
    --key-accent-shadow: 6 70% 34%;   
    
    --key-secondary-bg: 0 0% 90%;     
    --key-secondary: 0 0% 90%; 
    --key-secondary-shadow: 28 16% 65%; 
    
    --text-primary: 0 100% 100%;      
    --text-secondary: 221 14% 31%;   
}

body.theme-light {
    --bg-main: 0 0% 90%;              
    --bg-secondary: 0 5% 81%;         
    --bg-screen: 0 0% 93%;            

    --key-primary-bg: 185 42% 37%;    
    --key-primary-shadow: 185 58% 25%;
    
    --key-accent-primary:185 42% 37%;
    --key-accent-bg: 25 98% 40%;      
    --key-accent-shadow: 25 99% 27%;  
    
    --key-secondary-bg: 0 0% 90%;     
    --key-secondary: 0 0% 90%; 
    --key-secondary-shadow: 35 11% 61%; 
    
    --text-primary: 60 10% 19%;       
    --text-secondary: 0 100% 100%;    
}

body.theme-purple {
    --bg-main: 268, 75%, 9%;            
    --bg-secondary: 268 71% 12%;      
    --bg-screen: 268 71% 12%;         
    
    --key-primary-bg: 52 100% 62%;    
    --key-primary-shadow: 285 91% 52%; 
    
    --key-accent-primary:281, 89%, 26%;
    --key-accent-bg: 176 100% 44%;    
    --key-accent-shadow: 177 92% 70%; 
    
    --key-secondary-bg: 268 47% 21%;
    --key-secondary: 0 0% 100%; 
    --key-secondary-shadow: 290 70% 36%; 
    
    --text-primary: 52 100% 62%;      
    --text-secondary: 198 20% 13%;    
}


.scroll2::after{
    position: absolute;
    content: '';
    transform: translateX(1.5rem);
}
.scroll3::after{
    position: absolute;
    content: '';
    transform: translateX(3rem);
}
.scroll1::after{
    position: absolute;
    content: '';
    transform: translateX(0.05rem);
}

